body{
  background-color: #F5F5DC;
}

#WorksCited{
  padding-left: 44%;
  padding-Right: 5%;
}
#DivyBoy{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  font-style: normal;
  position: absolute;
  padding: 100px;
}

#HeadyDiv{
padding-left: 25%;
padding-right: 5%;
position: absolute;
padding-top: 50px;
}

#Voyant{
  position: absolute;
  padding-top: 100%;
  padding-left: 17%;
}


/* All Code Herein completed by Zachary Heil, Unless Credited otherwise *\
