body {
    background-color: rgb(255,255,255);
    animation-name: colorchange;
    animation-duration: 600s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
    @keyframes colorchange{
        0%{background-color: #56f5c0;}
        10%{background-color: #69e060;}
        20%{background-color: #60e0be;}
        30%{background-color: #60b7e0;}
        40%{background-color: #6095e0;}
        50%{background-color: #6460e0;}
        60%{background-color: #a460e0;}
        70%{background-color: #726e75;}
        80%{background-color: #504e52;}
        90%{background-color: #2d2c2e;}
        100%{background-color: #121112;}
}


#ParaBoi{
  font-size: 12px;
  font-style: normal;
}
